<!DOCTYPE html>
<html>
  <head>
    <title>***REMOVED******REMOVED***title***REMOVED******REMOVED***</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    ***REMOVED******REMOVED******REMOVED***body***REMOVED******REMOVED******REMOVED***
  </body>
</html>
